PLATE_RECOGNIZER_TOKEN=4a3642afas090213bf7922fafasfasc0426d762be64215
LLAMA_API_KEY=nvapi-xHb7eWGWX7kIN_mO5Yn56Ktzpb67-0MeM2WwLtBwKhlpJl6ipEe
NEMOTRON_API_KEY=nvapi-H-SLPiSLvtdeFSZd4um-PjxPXQgxBIEMCCOA9iyA_Z3A6SaNmfbG
NVIDIA_INVOKE_URL=https://integrate.api.nvidia.com/v1/chat/completions
DEFAULT_PROVIDER=docling
YOLO_MODEL_NAME=yolo11n.pt
YOLO_CONFIG_DIR=/tmp/Ultralytics
HUMAN_CONF_THRESH=0.30
VEHICLE_CONF_THRESH=0.35
REJECT_ON_HUMAN_DETECTED=false
REJECT_ON_MULTIPLE_VEHICLES=false
REJECT_ON_NO_VEHICLE=false
MAX_OCR_LINES=500
